Source: youam-utils
Section: utils
Priority: extra
Maintainer: Uli Martens <uli@youam.net>
Standards-Version: 3.6.2.1

Package: youam-utils
Architecture: any
Depends: ipcalc, ${shlibs:Depends}
Section: utils
Priority: extra
Description: Miscellanious utilities compiled and/or written by youam
 Miscellanious utilities:
  - ip-ls -- show all ip-addresses in a given network
