Source: iptablesdiff
Section: utils
Priority: extra
Maintainer: Uli Martens <uli@youam.net>
Standards-Version: 3.6.2.1
Build-Depends: debhelper (>= 7.0.50)

Package: iptablesdiff
Architecture: all
Depends: libyaml-syck-perl, libalgorithm-diff-perl, ${perl:Depends}
Section: utils
Priority: extra
Description: compare two iptables-save rulesets
 Small tool to compare two iptables-save rulesets and show the differences both
 in a diff-like output and as the iptables commands to mangle ruleset 1 into
 ruleset 2.
